/* #home{
    display: flex;
    flex-direction: row;
} */
body{
    overflow-x:hidden;
}
#homeLogo{
    width:40%;
    border-radius: 25em;
    box-shadow: 3px 3px 7px rgba(224, 159, 146, 0.5);
}
#landing{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-bottom: 5%;
}
#landing p{
    max-width:900px;
    height:7em;
    background-color: #D8806B;
    color:white;
    text-align: center;
    font:1.3rem 'Arial';
    padding: 3.5% 5% 0 5%;
    position:relative;
    bottom:75px;
    box-shadow: 1px 1px 7px rgba(224, 159, 146, 0.7);
    /* margin-bottom: 6%; */
}

@media screen and (max-width:1100px){
    #homeLogo{
        width:60%;
    }
  }

  @media screen and (max-width:740px){
    #homeLogo{
        width:70%;
    }
    #landing p{
        font-size: 1.1rem;
        width:90%;
    }
  }
  @media screen and (max-width:550px){
    #homeLogo{
        width:80%;
    }
    #landing p{
        font-size: 1.1rem;
        width:90%;
    }
  }


@media screen and (max-width:448px){
    #homeLogo{
        width:90%;
    }
    #landing{
        width:100%;
    }
    #landing p{
        width:90%;
        font-size: 1rem;
    }
  }