#homeLogo{
    width:40%;
    border-radius: 25em;
}
#landing{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}
#landing p{
    width:80%;
    height:7em;
    background-color: #D8806B;
    color:white;
    text-align: center;
    font:1.3rem 'Arial';
    padding: 3.5% 5% 0 5%;
    position:relative;
    bottom:75px;
}