body{
    overflow-x:hidden;
}
#homeLogo{
    max-width:600px;
    border-radius: 25em;
    box-shadow: 3px 3px 7px rgba(224, 159, 146, 0.5);
}
#landing{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-bottom: 5%;
}
#landing p{
    display:flex;
    justify-content: center;
    align-items: center;
    max-width:740px;
    height:7em;
    background-color: #D8806B;
    color:white;
    text-align: center;
    font:1.3rem "Source Sans Pro", sans-serif;
    padding:0 5%;
    position:relative;
    bottom:75px;
    box-shadow: 1px 1px 7px rgba(224, 159, 146, 0.7);
}
  @media screen and (max-width:700px){
    #homeLogo{
        max-width:500px;
    }
    #landing p{
        font-size: 1.2rem;
        width:95%;
        height: 7em;
        bottom:40px;
    }
  }
  @media screen and (max-width:550px){
    #homeLogo{
        max-width:480px;
    }
    #landing p{
        font-size: 1.1rem;
        bottom:40px;
    }
  }
  @media screen and (max-width:500px){
    #homeLogo{
        max-width:440px;
    }
    #landing p{
        font-size: 1.1rem;
        bottom:20px;

    }

  }