h1{
    text-transform: uppercase;
    font:4rem 'Rancho', cursive;
    color:#391117;
}
.modalTitle, .modalFooter{
    border:none;
    font-family: 'Oswald', sans-serif;
}
.modalTitle{
    color:#391117;
}
.modalBTN, .modalBTNCart{
    height:3em;
}
.modalBTN{
    background-color: #391117;
    opacity: 0.9;
}
.modalBTN:hover{
    background-color: #391117;
    opacity: 1;
}
.modalBTNCart{
    background-color:rgba(224, 159, 146, 0.7);
    color:#391117;
    font-weight: bold;
    border: #391117;
}
.modalBTNCart:hover{
    background-color:rgba(224, 159, 146, 0.9);
    color:#391117
}
.menu{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 10% 7% 10%;
}

.cheesecake{
    width:280px;
    height:370px;
    background-color: #F9EFED;
    margin: 15px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 1px 1px 7px rgba(33,33,33,.7);
    transition: all 0.5s ease;
}

.cheesecake img{
    height:230px;
    width:280px;
    border-radius: 4px 4px 0 0;
    opacity: 1;
}
h3{
    text-transform: uppercase;
    letter-spacing: 0.07rem;
    margin-bottom: 0;
    font: 1.2rem 'Oswald', sans-serif;
    color:#391117;
    margin-top:10px;
}
#price{
    display: block;
    font:1.2rem 'Oswald', sans-serif;
    color: #391117
}
#menuBTNS{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    margin-top:10px;

}
#order{
    font: 0.9rem 'Oswald', sans-serif;
    border:2px solid rgba(187, 76, 80, 0.1);
    border-radius: 1em;
    background-color: rgba(187, 76, 80, 0.4);
    height:2.5em;
    margin-left:5px;
    color:#391117;
    font-weight: bold;
    text-transform: uppercase;
}
#order:hover{
    background-color: rgba(187, 76, 80, 0.5);
}
button{
    background-color: rgba(224, 159, 146, 0.7);
    border-color: rgba(224, 159, 146, 0.3);
    height:2em;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}
#add, #remove{
    width:1.5em;
    height:1.5em;
    font-weight: bold;
    color:#391117;
    font-size:1.3rem;
    border:none;
    background-color: transparent;

}
#quantity{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 1.5px;
    border:2px solid rgba(187, 76, 80, 0.1);
    border-radius: 1em;
    background-color: rgba(187, 76, 80, 0.2);
}
#qtyCount{
    width:2em;
    height:2em;
    font-weight: bold;
    font-size:1rem;
    color:#391117;
    text-align: center;
    margin:0;
    border-radius:0;
    border:none;
    background-color:transparent;
    font-family: 'Oswald', sans-serif;
}
