.cartContent{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 1% 5% 5% 5%;
    min-height:100vh;
    margin-top: 3%;
}
.cartContent2{
    padding: 1% 5% 5% 5%;
    min-height:100vh;
}
.cartHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.shoppingHeader{
    display: inline;
    margin:0;
    font-size: 1.5rem;
}
.cartActions{
    padding:0 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid rgba(224, 159, 146, 0.1);
}
#continueShopping{
    text-decoration: underline;
}
#continueShopping:hover{
    color:purple
}
#updateCartBTN{
    width:10em;
    height:2.9em;
    font-size:0.9rem;
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: 0.07em;
    font-weight: bold;
    text-transform: uppercase;
    margin:1em 0 2em 0;
    border-radius: 2em;
}
#updateCartBTN:hover{
    background-color:#391117;
    opacity: 0.75;
    border-color:#391117;
    color:white
}
#totalQtyHeader{
    color:white;
    font: 1.15rem "Source Sans Pro", sans-serif;
    text-transform: uppercase;
}
a{
    color:#391117
}
a:hover{
    text-decoration: underline;
}
#visitHereLink{
    color:purple
}
.cart{
    width:55%;
    margin-right: 100px;
}
h4{
    font-size:1rem;
}
#cartTotal{
    width:30%;
    box-shadow: 1px 1px 7px rgba(33,33,33,.7);
    margin-bottom: 3%;
    border-radius: 5px 5px 0 0;
}
.billing{
    width: 50%;
    padding:0px 40px;
}
form{
    width:100%;
}
label{
    margin-right:10px;
    color:#391117;
    font:1.5rem 'Rancho', cursive;
}
input{
    width: 350px;
    margin-top:5px;
    height:35px;
    border-color: rgba(224, 159, 146, 0.3);
    border-radius: 5px;
}
.formInput{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.billingInfo{
    margin-top: 10px;
}
.formSubmit{
    margin: 20px 0 0 180px;
    width:5.5em;
    height:1.6em;
    color:#391117;
    font:1.5rem 'Rancho', cursive;

}
.cartItemDetails{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cartItemDetails:last-child:hover{
    text-decoration: underline;
}
.cartItemDetails span:last-child, #remove{
    cursor: pointer;
}
/* .cartItemDetails:last-child{
    width:25%;
} */

.cartHeader{
    background-color:rgba(224, 159, 146, 0.7);
    height:5em;
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.cartHeader h3{
    color:white;
    letter-spacing: 0.1em;
}
#cart{
    box-shadow: 1px 1px 7px rgba(33,33,33,.7);
    border-radius: 5px 5px 0 0;
}
.viewItems{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom:2px dashed rgba(224, 159, 146, 0.3);
    margin-bottom: 5px;
}
.viewItems:last-child{
    border:none;
}
.viewItems img{
    width:140px;
    height: 85px;
    border:none;
}
.viewItemDetails{
    width:100%;
    display:flex;
    flex-direction: row;
}

.viewItemDetails div{
    width:33%;
}
.changeQtyBTN{
    width:1.25em;
    display: inline;
    background-color: transparent;
    border:none;
    font-size: 1rem;
    color:#391117;
    font-weight: bold;
}
.changeQtyBTN input{
    color:#391117;
}
.changeQtyBTN:first-child, .changeQtyBTN:last-child{
    font-size: 1.25rem;
}
#quantityBTNContainer{
    font-size:1.5rem;
    width:60%;
}
.quantityBTN{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    color:#391117
}
#itemTotalDiv{
    width:22%;
}
.subtotal{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subtotal span{
    color: #BB4C50;
    font-weight: bold;
    font-size: 1.5rem;
}
.totalDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px 35px 5px 35px;
}
.totalDetails span, .finalTotal h3, .finalTotal span{
    font-size: 1.25rem;
    font-family:"Source Sans Pro", sans-serif;
}
.promoCode{
    display:flex;
    align-items: flex-start;
    justify-content: center;
    margin-top:20px;
}
.promoCode input{
    height:40px;
    width:68%;
    margin:0 0 0 10px;
    border-radius: 0;
    text-align: center;
    border-color: rgba(57,17,23,0.8);
    border-right: none;
    opacity: 0.85;
    font:1rem 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
input::selection{
    border:none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(33,33,33,.75);
    opacity: 0.9; /* Firefox */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #391117
  }
  
  ::-ms-input-placeholder {
    color: #391117
  }
.promoCode button{
    height:2.5em;
    font-size:0.9rem;
    background-color: transparent;
    text-decoration: underline;
    border:#391117 2px solid;
    border-left:none;
    opacity: 0.85;
    font:1rem "Source Sans Pro", sans-serif;
    letter-spacing: 0.07em;
    font-weight: bold;
    text-transform: uppercase;
    color:#391117
}
h5{
    margin-top:10px;
    color:red;
    font-size:1rem
}
.finalTotal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px 35px 5px 35px;
}
.finalTotal h3{
    margin:0;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.01em;
}
.finalTotal span{
    margin-top: 0rem;
    font-weight: 600;
}

.billing{
    width:100%;
    padding:0 10px;
}

#placeOrder{
    width:10em;
    height:2.9em;
    font-size:0.9rem;
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: 0.07em;
    font-weight: bold;
    text-transform: uppercase;
    margin:1em 0 2em 0;
    border-radius: 2em;
}
#placeOrder:hover{
    background-color:#391117;
    opacity: 0.75;
    border-color:#391117;
    color:white
}

@media screen and (max-width:1200px){
    .cart{
        width:55%;
        margin-right: 50px;
    }
    #cartTotal{
        width:40%;
    }

}

@media screen and (max-width:950px){
    .cartContent{
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 1% 5% 5% 5%;
        /* min-height:80vh; */
    }
    .cart{
        width:80%;
        margin-bottom: 50px;
        margin-right: 0;
    }
    #cartTotal{
        width:80%;
    }
    .totalDetails{
        padding:100px 400px;
    }

    .billing{
        padding:0 40px;
    }
    .totalDetails{
        padding:5px 40px;
    }
    .promoCode input{
        width:78%;
    }
}

@media screen and (max-width:670px){
    h1{
        font-size: 2rem;
        padding-top: 9%;
    }
    .cartContent{
        display:flex;
        flex-direction: column;
        padding: 1% 5% 5% 5%;
        /* min-height:80vh; */
    }
    .cart{
        width:100%;
    }
    #cartTotal{
        width:100%;
    }
    .billing{
        width: 100%;
        /* padding:40px 40px 40px 40px; */
    }
    .totalDetails{
        padding:5px 40px;
    }
    .promoCode input{
        width:75%;
    }
}

    @media screen and (max-width:480px){
        .cartActions{
            padding:5px 20px;
        }
        #quantityBTNContainer{
            font-size:1.5rem;
            width:100%;
        }
        .quantityBTN{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: center;
        }
        #itemTotalDiv{
            width:100%;
        }
        .viewItems img{
            width:200px;
            height: 120px;
            border:none;
        }
        .viewItemDetails{
            width:100%;
            display:flex;
            flex-direction: column;
        }
        .viewItemDetails div{
            width: 100%;
            text-align: left;
        }
        .viewItemDetails h3{
            font-size: 1rem;
        }
        .promoCode input{
            width:67%;
        }
}