.cartContent{
    display:flex;
    flex-direction: row;
    padding: 1% 5% 5% 5%;
    min-height:80vh;
}

.cart{
    width:60%;
}
.billing{
    width: 50%;
    padding:40px 40px 40px 40px;
}
form{
    width:100%;
}
label{
    margin-right:10px;
    color:#391117;
    font:1.5rem 'Rancho', cursive;
}
input{
    width: 350px;
    margin-top:5px;
    height:35px;
    border-color: rgba(224, 159, 146, 0.3);
    border-radius: 5px;
}
.formInput{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.billingInfo{
    margin-top: 10px;
}
.formSubmit{
    margin: 20px 0 0 180px;
    width:5.5em;
    height:1.6em;
    color:#391117;
    font:1.5rem 'Rancho', cursive;

}
.cartItems{
    padding:20px 40px 0 50px;
}
.viewItems{
    border: 2px solid black;
    display: flex;
    flex-direction: row;

}
.viewItems img{
    width:140px;
    height: 80px;
}
.viewItemDetails{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subtotal{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subtotal span{
    color: #BB4C50;
    font-weight: bold;
    font-size: 1.5rem;
}
.totalDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:5px 140px;
}
.totalDetails span, .finalTotal h3, .finalTotal span{
    font-size: 1.5rem;
}
.total input{
    height:28px;
    width:200px;
    margin:0 0 0 10px;
    border-radius: 0;
}
.billing{
    padding: 5% 10%
}

@media screen and (max-width:448px){
    h1{
        font-size: 2rem;
        padding-top: 9%;
    }
    .cartContent{
        display:flex;
        flex-direction: column;
        padding: 1% 5% 5% 5%;
        /* min-height:80vh; */
    }
    .cart{
        width:100%;
    }
    .billing{
        width: 100%;
        /* padding:40px 40px 40px 40px; */
    }
    .totalDetails{
        padding:5px 40px;
    }
}