.specials{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.specialsHeading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.coupon{
    height:30vh;
    width:600px;
    border-radius: 4px;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 7px rgba(33,33,33,.7);
    background-image: url("../assets/choc-min.jpg");
    background-position: top 5% center;
    color:white;
    text-shadow: black 1px 2px;

}
.coupon span, .coupon h3{
    color:white;
    text-shadow: black 1px 2px;
}
.shoppingTag{
    color:#D8806B;
}

@media screen and (max-width:690px){
    .coupon{
        width:500px;
    }
    .hide{
        display: none;
    }
  }
  @media screen and (max-width:550px){
    .coupon{
        width:450px;
    }
  }
@media screen and (max-width:500px){
    .coupon{
        max-width:400px;
    }
  }