  nav{
    background-color: #F9EFED;
  }
  nav img{
    width:60px;
    border-radius:10em;
    margin-left:1%;
  }
  .nav-link, #menuNav{
    font-size: 1.2rem;
    color:#391117;
    font-family: "Source Sans Pro", sans-serif;
  }

  .shop{
    color: #BB4C50;
    cursor: pointer;
  }
  .discount{
    display: inline;
  }

  #cartQty{
    position:relative;
    text-align: center;
    top:-20px;
    left:-57px;
    color:#391117;
    font-size:1rem;
    font-weight:600;
    border-radius: 5em;
    font-family:"Source Sans Pro", sans-serif;
  }
  #cartHeading{
    font:1rem "Source Sans Pro", sans-serif;
  }
  a{
    text-decoration: none;
  }

  @media screen and (max-width:992px){
    #hideNavLogo{
      display:none;
    }
    #cartHeading{
      font-size:1.2rem;
    }
     #cartQty{
    position:static;
    font-weight: 100;
    font-size:1.2rem;
    font-family:"Source Sans Pro", sans-serif;
  }
  }
  @media screen and (max-width:480px){
    nav{
      position: absolute;
    }
    #cartQty{
      font-size:0.8rem;
    }
  }
  