  nav{
    background-color: #F9EFED;
  }
  nav img{
    width:60px;
    border-radius:10em;
    margin-left:1%;
    transition: transform .5s;
  }
  nav img:hover{
    -ms-transform: scale(1.15, 1.15);
    -webkit-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15);
  }
  .nav-link, #menuNav{
    font-size: 1.2rem;
    color:#391117;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }
  .nav-link:hover{
    font-weight: bold;
    color:#391117
  }
  .actions a:hover{
    color:#391117;
  }

  .shop{
    color: #BB4C50;
    cursor: pointer;
  }
  .discount{
    display: inline;
  }

  #cartQty{
    position:relative;
    text-align: center;
    top:-20px;
    left:-65px;
    color:#391117;
    font-size:1rem;
    font-weight:600;
    border-radius: 5em;
    font-family:"Source Sans Pro", sans-serif;
  }
  #cartHeading{
    font:1rem "Source Sans Pro", sans-serif;
    font-weight: bold;
  }
  a{
    text-decoration: none;
  }
  /* .action-btn{
    background-image: linear-gradient(to right,#D8806B, rgba(224, 159, 146, 1));
    border-radius: 0.3em;
  }
  .action-btn:hover{
    background-image: linear-gradient(to left,#D8806B, rgba(224, 159, 146, 1));
  }
  .action-btn a{
    color:#391117;
    font-weight: bold;
  }
  .action-btn a:hover{
    color:white;
    text-decoration: none;
  } */
  .actions a{
    text-transform: uppercase;
  }

  @media screen and (max-width:992px){
    #hideNavLogo{
      display:none;
    }
    #cartHeading{
      font-size:1.2rem;
    }
     #cartQty{
    position:static;
    font-weight: 100;
    font-size:1.2rem;
    font-family:"Source Sans Pro", sans-serif;
  }
  }
  @media screen and (max-width:480px){
    nav{
      position: absolute;
    }
  }
  