.App {
  text-align: center;
}
.content{
  margin-top: 1%;
}
#bgImg{
  width:25%;
  opacity:0.3;
  border-radius: 25em;
  position:fixed;
  bottom:195px;
  right:0px;
  z-index: 0.5;
}
#smallImg{
  width:20%;
  opacity:0.3;
  border-radius: 25em;
  position:fixed;
  top:300px;
  left:10px;
  z-index: 0.5;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height:10em;
  background-color: #F9EFED;
}
span{
  font:1.25rem "Source Sans Pro", sans-serif;
  color:#391117;
}
#email, #phoneNumber{
  font: 1.3rem 'Oswald', sans-serif;
  display: block;
}
#email > a:hover{
  font-weight: bold;
  color:#391117
}
#copyright{
  text-transform: uppercase;
}
#copyright > span{
  font: 1rem 'Oswald', sans-serif;
}
@media screen and (max-width:1000px){
  .hide{
    display: none;
  }
}
@media screen and (max-width:900px){
  .content{
    margin-top:2%;
  } 
}
@media screen and (max-width:600px){
  .content{
    margin-top:5%;
  }
  footer{
    font-size:1.25rem;
    padding: 0;
  }
  #email, #phoneNumber{
    font-size: 1.25rem ;
  }
}
@media screen and (max-width:500px){
  .content{
    margin-top:7%;
  }
  footer{
    flex-direction: column-reverse;
    justify-content: center;
    height:9em;
  }
  #email, #phoneNumber{
    font-size: 1.15rem;
  }
  #copyright > span{
    font-size: 0.8rem;
  }
}